@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* Base colors */
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    /* Primary - Dark Blue  (Should be used for main actions) */
    --primary: 228 100% 9%;
    --primary-foreground: 0 0% 100%;

    /* Secondary (Should not compete with primary) */
    --secondary: 220 30% 92%;
    --secondary-foreground: 228 100% 9%;

    /* Muted */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    /* Accent - Medium Blue (#3B82F6) */
    --accent: 217 100% 56%;
    --accent-foreground: 0 0% 100%;

    /* Destructive */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* Border & Input */
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: var(--primary);

    /* Border radius */
    --radius: 0.5rem;

    /* Sidebar */
    --sidebar-accent: 228 100% 17%;


  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}