app/server/Althera/obj/Debug/net8.0/Althera.AssemblyInfo.cs
app/server/Althera/bin/Debug/net8.0/Althera.dll
app/server/Althera/bin/Debug/net8.0/Althera.exe
app/server/Althera/bin/Debug/net8.0/Althera.pdb
app/server/Althera/obj/Debug/net8.0/Althera.AssemblyInfo.cs
app/server/Althera/obj/Debug/net8.0/Althera.AssemblyInfoInputs.cache
app/server/Althera/obj/Debug/net8.0/Althera.dll
app/server/Althera/obj/Debug/net8.0/Althera.pdb
app/server/Althera/obj/Debug/net8.0/apphost.exe
app/server/Althera/obj/Debug/net8.0/refint/Althera.dll
app/server/Althera/obj/Debug/net8.0/ref/Althera.dll
