app/server/Althera/obj/Debug/
app/server/Althera/obj/Debug/net8.0/Althera.GeneratedMSBuildEditorConfig.editorconfig
app/server/Althera/obj/Debug/net8.0/Althera.AssemblyInfo.cs
app/server/Althera/obj/Debug/net8.0/Althera.AssemblyInfoInputs.cache
app/server/Althera/obj/Debug/net8.0/Althera.assets.cache
app/server/Althera/obj/Debug/net8.0/Althera.csproj.AssemblyReference.cache
