.App {
  display: flex;
  height: 100%;
  background-color: #00072D;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}


.order {
  margin: 10px;
  padding: 10px;
}

.patient {
  padding: 10px;
  margin: 10px;
}

.clinic {
  margin: 10px;
  padding: 10px;
}
