.App {
  display: flex;
  height: 100vh;
  background-color: #00072D;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}


.commande {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.patient {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}
